<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.BanJiMapper" >
  <resultMap id="BaseResultMap" type="com.web.model.BanJi" >
    <id column="banJiID" property="banjiid" jdbcType="INTEGER" />
    <result column="yuanXiID" property="yuanxiid" jdbcType="INTEGER" />
    <result column="zhuanYeDaiMa" property="zhuanyedaima" jdbcType="VARCHAR" />
    <result column="banJiMingCheng" property="banjimingcheng" jdbcType="VARCHAR" />
    <result column="ruXueNianFen" property="ruxuenianfen" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    banJiID, yuanXiID, zhuanYeDaiMa, banJiMingCheng, ruXueNianFen
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from banji
    where banJiID = #{banjiid,jdbcType=INTEGER}
  </select>
  <select id="getAllByzhuanYeDaiMaAndruXueNianFen" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from banji
    where zhuanYeDaiMa = #{0,jdbcType=VARCHAR} and ruXueNianFen = #{1,jdbcType=INTEGER}
  </select>
  <select id="getAllByYuanXiIDAndZhuanYeDaiMaAndRuXueNianFen" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from banji
    where yuanXiID = #{0,jdbcType=INTEGER} and zhuanYeDaiMa = #{1,jdbcType=VARCHAR} and ruXueNianFen = #{2,jdbcType=INTEGER}
  </select>
  <select id="getAllByyuanXiIDAndruXueNianFen" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from banji
    where yuanXiID = #{0,jdbcType=VARCHAR} and ruXueNianFen = #{1,jdbcType=INTEGER}
  </select>
  <select id="getAllByYuanXiID" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from banji
    where yuanXiID = #{yuanxiid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banji
    where banJiID = #{banjiid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.model.BanJi" >
    insert into banji (banJiID, yuanXiID, zhuanYeDaiMa, 
      banJiMingCheng, ruXueNianFen)
    values (#{banjiid,jdbcType=INTEGER}, #{yuanxiid,jdbcType=INTEGER}, #{zhuanyedaima,jdbcType=VARCHAR}, 
      #{banjimingcheng,jdbcType=VARCHAR}, #{ruxuenianfen,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.web.model.BanJi" >
    insert into banji
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="banjiid != null" >
        banJiID,
      </if>
      <if test="yuanxiid != null" >
        yuanXiID,
      </if>
      <if test="zhuanyedaima != null" >
        zhuanYeDaiMa,
      </if>
      <if test="banjimingcheng != null" >
        banJiMingCheng,
      </if>
      <if test="ruxuenianfen != null" >
        ruXueNianFen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="banjiid != null" >
        #{banjiid,jdbcType=INTEGER},
      </if>
      <if test="yuanxiid != null" >
        #{yuanxiid,jdbcType=INTEGER},
      </if>
      <if test="zhuanyedaima != null" >
        #{zhuanyedaima,jdbcType=VARCHAR},
      </if>
      <if test="banjimingcheng != null" >
        #{banjimingcheng,jdbcType=VARCHAR},
      </if>
      <if test="ruxuenianfen != null" >
        #{ruxuenianfen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.model.BanJi" >
    update banji
    <set >
      <if test="yuanxiid != null" >
        yuanXiID = #{yuanxiid,jdbcType=INTEGER},
      </if>
      <if test="zhuanyedaima != null" >
        zhuanYeDaiMa = #{zhuanyedaima,jdbcType=VARCHAR},
      </if>
      <if test="banjimingcheng != null" >
        banJiMingCheng = #{banjimingcheng,jdbcType=VARCHAR},
      </if>
      <if test="ruxuenianfen != null" >
        ruXueNianFen = #{ruxuenianfen,jdbcType=INTEGER},
      </if>
    </set>
    where banJiID = #{banjiid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.model.BanJi" >
    update banji
    set yuanXiID = #{yuanxiid,jdbcType=INTEGER},
      zhuanYeDaiMa = #{zhuanyedaima,jdbcType=VARCHAR},
      banJiMingCheng = #{banjimingcheng,jdbcType=VARCHAR},
      ruXueNianFen = #{ruxuenianfen,jdbcType=INTEGER}
    where banJiID = #{banjiid,jdbcType=INTEGER}
  </update>
</mapper>